* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.white {
    color: #FFF;
    margin-left: 7px;
}

.navbar {
    background-color: #F55A5A;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
}